.adress-data-title {
    padding-bottom: 5px;
}

.adress-data-agents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    border-top: 1px solid rgba(25, 118, 210, 0.5);
}