svg {
    border: 1px solid #eeeeee;
    background: #f9f9f9;
    overflow: hidden;
}

.page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.graph-container {
    position: relative;
}

.node {
    font-size: 10px;
    width: 120px;
    height: 55px;
    padding: 5px;
    border: 1px solid rgb(133 133 133 / 50%);
    border-radius: 4px;
    color: aliceblue;
    text-align: center;

    :hover {
        cursor: pointer;
    }

    :focus {
        outline: none !important;
        -webkit-focus-ring-color: none;
    }
}

.collapsed-group-node {
    box-shadow: 0 0 8px 3px rgb(0 67 139 / 50%) !important;
    border: 1px solid rgba(0, 123, 255, 0.8) !important;
}

.link-line {
    stroke-width: 2px;
    stroke: rgb(198, 198, 198);
}

.link-label {
    fill: rgba(128, 128, 128, 0.7);
    text-anchor: middle;
    font-size: 8px;
    fill: rgba(128, 128, 128, 0.7);
}